/*
	Trash CSS
*/
/* PatientName formatting */
table.search-table .patientField {width:230px;}
table.search-table div.patientField input.patient_fn {width:110px;}
table.search-table div.patient_gn input {width:110px;}
table.search-table div input.patient_full {width:220px;}
/* PatientID formatting */
table.search-table td.patid input {width:100px;}
table.search-table div input.patient_fn {width:120px;}

/* Date/Time field formatting */
table.search-table div.dateTimeField span input {width: 69px;}
table.search-table div.dateTimeField span input.timeField {width: 38px;}
