<wicket:panel>
  <div style="white-space: nowrap;" class="patientTF">
    <div style="float:left; ">
        <span wicket:id="pnLabel" style="display:block"/>
        <input type="text" wicket:id="pnField" maxlength="60" class="patient_full" />
    </div>
    <div style="float:left; ">
    	<span wicket:id="fnLabel" style="display:block"/>
    	<input type="text" wicket:id="fnField" maxlength="60" class="patient_fn" />
    </div>
    <div class="patient_gn">
    	<span wicket:id="gnLabel" style="display:block"/>
	    <input type="text" wicket:id="gnField" maxlength="60"/>
	</div>
  </div>
</wicket:panel>