/*
    Base CSS
*/

input[disabled] { background-color: #E1E0DE; }

body { font-family: Verdana, sans-serif; font-size: 12px; }

h1 { font-size: 26px; margin-bottom:18px; }
h1.ph1 { font-size: 21px; margin-bottom:18px; }
h2 { font-size: 21px; margin-bottom:18px; }
h3 { font-size: 16px; }
h4 { font-size: 13.4px; }

p,ul,ol,li,dl,dt,dd,div,td,th { font-size: 12px; }

img { border: none; }

div.signin { height: 400px; text-align: center; padding: 160px 0px 0px 0px; }
div.signin table { width: 100%; padding: 60px 90px 10px 0px; background-color: #A0D8C4; }
div.signin tr, div.signin td { width: 50%; height: 35px; border-style: none; }
div.signin span.login-desc { font-size: 20px; font-weight: bold; }

div.module-selector {
    width: 100%;
    min-height: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    z-index: 1;
    background-color: #ffffff;
    background-image: url("images/menu-bg.gif");
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

div.module-selector table.tabpanel tr.tab-row td { 
    white-space: nowrap; 
    margin: 0px; 
    min-height: 48px;
}

div.module-selector table.tabpanel {
    float: left;
	margin-top: -6px;
    margin-left: 38px;
}

div.module-selector table.tabpanel tr.tab-row a:link, 
div.module-selector table.tabpanel tr.tab-row a:visited {
    float: left; 
    padding: 3px 15px 0px;
    line-height: 43px;
    color: #666;
}

div.module-selector table.tabpanel tr.tab-row td.selected a:link, 
div.module-selector table.tabpanel tr.tab-row a:visited.active {
    float: left; 
    color: #FFF; 
    background: #aaa url("images/current-bg.gif") bottom left repeat-x; 
}

div.module-selector table.tabpanel tr.tab-row a:hover { background: #aaa; }

div.module-selector table.menu-right { float: right; }
div.module-selector table.menu-right td { 
    padding: 0px 15px 0px;
    line-height: 43px;
}

div.module-selector table.menu-right div.menu-item a {
    color: #666; 
}

div.module-selector table.menu-right div.menu-item img {
    margin-top: 18px; 
}

div.module-panel { width: 100%; background: none #E1E0DE; padding-top: 1px; }

div.viewport-and-actions { margin-top: 20px; margin-bottom: 5px; padding: 5px; }
div.viewport { float: left; margin-right: 40px; }
img.hourglass { float: left; margin-left: 20%; }
div.actions { text-align: right; }

/*
    table.search-table
*/
table.search-table { border: thin; border-width: 1px; border-style: solid; border-color: #000000; width:100%; white-space: nowrap; background-color: #FFFFFF; }
table.search-table th { background-color: #446666; color: white; width: 20px; height: 20px; text-align: left; }
table.search-table tr { vertical-align: bottom; }
table.search-table tr.search-table-footer { height: 30px; }
table.search-table tr.search-table-footer td.buttonPanel{ text-align: right; }
table.search-table tr.search-table-extended { background-color: #A0D8C4; }
table.search-table span.toggle-text { vertical-align: middle; }
table.search-table div.search-header { text-decoration: underline; }
table.search-table .yui-skin-sam div.calheader { width: 14em; }

/*
    table.content-table
*/
table.content-table { border: thin; border-width: 1px; border-style: solid; border-color: #000000; border-collapse: collapse; empty-cells: show; width:100%; white-space: nowrap; background-color: #FFFFFF; }
table.content-table th { background-color: #446666; color: #FFFFFF; width: 20px; height: 30px; text-align: left; }
table.content-table tr { height: 25px; width: auto; border: thin; border-width: 1px; border-style: solid; border-color: #AAAAAA; }
table.content-table tr.odd { background-color: #FFFFFF; }
table.content-table tr.even { background-color: #E1E0DE; }
table.content-table tr td.expand { width: 21px; border: thin; border-left-width: 1px; border-left-style: solid; border-left-color: #AAAAAA; }
table.content-table tr td.action { text-align: center; }
table.content-table tr th, table.content-table tr td { padding-left: 10px; padding-right: 10px; }

/*
    table.folded-table
*/
table.folded-table { border: thin; border-width: 1px; border-style: solid; border-color: #AAAAAA; border-collapse: collapse; empty-cells: show; width:100%; white-space: nowrap; background-color: #FFFFFF; }
table.folded-table tr { height: 25px; width: auto; border: thin; border-width: 1px 1px 0px; border-style: solid; border-color: #AAAAAA; }
table.folded-table tr.study td.expand, 
table.folded-table tr.pps td.expand, 
table.folded-table tr.series td.expand, 
table.folded-table tr.instance td.expand,
table.folded-table tr.patient td.expand { width: 21px; border: thin; border-left-width: 1px; border-left-style: solid; border-left-color: #AAAAAA; }
table.folded-table tr.file { background-color: #446666; color: #FFFFFF; }
table.folded-table tr.instance { background-color: #54B291; }
table.folded-table tr.instance_selected { background-color: orange; }
table.folded-table tr.series { background-color: #A0D8C4; }
table.folded-table tr.series_selected { background-color: orange; }
table.folded-table tr.pps { background-color: #D1FEF6; }
table.folded-table tr.pps_selected { background-color: orange; }
table.folded-table tr.study { background-color: #E1E0DE; }
table.folded-table tr.study_selected { background-color: orange; }
table.folded-table tr.patient { background-color: #FFFFFF; }
table.folded-table tr.patient_selected { background-color: orange; }

div.dicomobjectpanel { border: thin; border-width: 1px; border-style: inset; border-color: #AAAAAA; }
table.dicomobject { background: #FFFFFF; color: black; width: 100%; }

.invalid { background: #EEBBAA; }

.msgWindow { background-color: #A0D8C4; width: 100% ; height: 100%; text-align: center;}
.msgWindow_header { background-color: #54B291; }
.msgWindow_content { height: 63%; width: 90%;position: absolute; left: 5%; top: 40px; }
.msgWindow-msg { width:90%; position: absolute; left: 5%; top: 45%; }
.msgWindow-button { width: 50%; position: absolute; left: 25%; top: 80%; }

.confirmWindow { width: 100% ; height: 100%; text-align: center;}
.confirmWindow_msg { padding: 10px; margin: 0 0 0.7em;}
.confirmWindow_remark { padding: 10px; margin: 0 0 0.7em; color:red; }
.confirmWindow_button { padding: 10px; margin-top: 1em;}

/*
    div.edit-content
*/
div.edit-title {margin-bottom: 9px;}
div.edit-content div.edit-table-panel { width: 100%; }
div.edit-table-panel div.edit-table-row { float: left; width: 100%; background: #A0D8C4; height: 30px;}
div.edit-table-panel .edit-desc { border: none; float: left; text-align: right; vertical-align: middle; margin: 2px 6px 0px; width: 50%; }
div.edit-table-panel .edit-value { border: 1px solid; float: left; text-align: left; vertical-align: middle; margin: 2px 6px 0px; width: auto; }
.edit-attrname { border: none; float: left; text-align: left; vertical-align: middle; margin: 2px 6px 0px; width: 50%;}
div.edit-buttons { background: none #AAAAAA; width: 100%; height: 20px; text-align: center; vertical-align: middle; float: left;}

input.IE_DEFAULT_SUBMIT {color: #FFFFFF; background-color: #FFFFFF; border: none; width: 1px; height: 1px; }

.longText { width:20%; overflow: hidden; }