<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  template="/WEB-INF/templates/default.xhtml">
  <ui:define name="content">
    <h1>Welcome to JBoss!</h1>

    <div>
      <p>You have successfully deployed a Java EE 6 web application.</p>
      <h3>Your application can run on:</h3>
      <img src="resources/gfx/dualbrand_as7eap.png" />
    </div>

    <h:form id="aeManagement">
      <h2>AE Management</h2>
      <p>To register a new AE, complete the following form and click
        "Register".</p>
      <h:panelGrid columns="3" columnClasses="titleCell">
        <h:outputLabel for="aeTitle" value="AE Title:" />
        <h:inputText id="aeTitle" value="#{newAEInfo.AETitle}" />
        <h:message for="aeTitle" errorClass="invalid" />

        <h:outputLabel for="hostname" value="Hostname:" />
        <h:inputText id="hostname" value="#{newAEInfo.hostname}" />
        <h:message for="hostname" errorClass="invalid" />

        <h:outputLabel for="port" value="Port:" />
        <h:inputText id="port" value="#{newAEInfo.port}" />
        <h:message for="port" errorClass="invalid" />

        <h:outputLabel for="local" value="Is Local:" />
        <h:inputText id="local" value="#{newAEInfo.local}" />
        <h:message for="local" errorClass="invalid" />
      </h:panelGrid>

      <p>
        <h:panelGrid columns="2">
          <h:commandButton id="register"
            action="#{aeInfoController.register}" value="Register"
            styleClass="register" />
          <h:messages styleClass="messages" errorClass="invalid"
            infoClass="valid" warnClass="warning" globalOnly="true" />
        </h:panelGrid>
      </p>
    </h:form>

    <h:panelGroup rendered="#{empty AEInfos}">
      <em>No registered AEs.</em>
    </h:panelGroup>
    <h:dataTable var="_aeInfo" value="#{AEInfos}"
      rendered="#{not empty AEInfos}" styleClass="simpletablestyle">
      <h:column>
        <f:facet name="header">AE Title</f:facet>
                #{_aeInfo.AETitle}
      </h:column>
      <h:column>
        <f:facet name="header">Hostname</f:facet>
                #{_aeInfo.hostname}
      </h:column>
      <h:column>
        <f:facet name="header">Port</f:facet>
                #{_aeInfo.port}
      </h:column>
      <h:column>
        <f:facet name="header">Is Local</f:facet>
                #{_aeInfo.local}
      </h:column>
    </h:dataTable>
  </ui:define>
</ui:composition>
