/*
	Export CSS
*/
table.export {width: 100%; text-align: left;}
table.export th {text-align: left;}
table.export td.selected {text-align: right;}
table.export td.total {width: 80%; text-align: center; font-weight:bold;}

.export_succeed {background: none #AAFFFF; }
.export_running {background: none #77bb77; }
.export_failed {background: none #FF6666; }
.export_nop {background: none #FFFFFF; }
span.downloadError {color: red; }