/*
    Folder CSS
*/
/* 
    Image Selection Window 
*/
div.imageSelectWindow { overflow: hidden; }

table.imageSelect {overflow: hidden; background-color: white; width:100% }
td.imageSelect {background-color: white; }
div.msgWindow_header a { color: gray; }

/* PatientName formatting */
table.search-table .patientField {width:300px;}
table.search-table div.patientField input.patient_fn {width:110px;}
table.search-table div.patient_gn input {width:110px;}
table.search-table div input.patient_full {width:220px;}
/* PatientID formatting */
table.search-table td.patid input {width:100px;}
table.search-table div input.patient_fn {width:120px;}

/* Date/Time field formatting */
table.search-table td.dateTime {width: 140px;}
table.search-table div.dateTimeField span input {width: 69px;}
table.search-table div.dateTimeField span input.timeField {width: 38px;}
/* UID field formatting */
table.search-table input.uid {width: 250px;}
/* Modality */
table.search-table td.modality {width: 90px;}
/* Accession Number */
table.search-table input.accnr {width: 150px;}
/* QueryType select */
table.search-table tr.search-table-footer td.queryType {text-align: right;}
