/*
	MPPS2MWL Link CSS
*/

div.mpps-info { border: 1px solid; margin: 5; padding: 10; width: 100%; height:120px; }
div.mpps-info .info-title { clear: both; border: none; padding: 5; text-align: center; font-size: 16px; font-weight: bold; width: 100%; clear: both; }
div.mpps-info .info-desc { border: none; float: left; text-align: right; width: 50%; height: 20; }
div.mpps-info .info-value { border: none; float: left; text-align: left; margin: 0 6; width: auto; height: 20; }

div.patSelectTitle { clear: both; border: none; padding: 5; text-align: center; font-size: 14px; font-weight: bold; width: 100%; }
div.patSelect { clear: both; border: none; padding: 5; text-align: center; font-size: 12px; width: 100%; }
